/*body {
    padding-top: 56px;
}

.left-aligned {
    margin-left: auto;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-hero {
    background-color: #45b06cff;
}

/* CALLOUT */
/*.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

/* footer */
/*footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}*/

#verticle-line {
    height: auto;
    width: 2px;
    background-color: white;
    margin: 32px;
}

#horizontal-line {
    width: auto;
    height: 2px;
    margin: 40px;
    background-color: white;
}

.main-page-column-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-page-column {
    width: 48%;
    
}

/* .main-page-column-text {
    width: 48%;
    flex: 1;
}

.main-page-column-fig {
    width: 48%;
    max-height: 100%;
} */

table {
    border-collapse: collapse;
    border: 2px solid black;
    /* 将表格边框颜色设置为红色 */
    color: black;
    margin: 0 auto;
    width: 80%;
    margin-top: 40px;
}

table, th, td {
    border: 1px solid black;
    color: black;
}

th, td {
    padding: 8px;
    text-align: center;
}

.chatbox-container {
    display: block;
    background-color: #222222;
    /* border: 5px dashed; */
    border-color: white;
    border-radius: 50px;
    /* margin: 10px; */
    padding-top: 10px;
    /* padding: 20px;*/
}

.chatbox-icon {
    float: left;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 100%;
    position: relative;
    opacity: 1;
    left: 0px;
    /* padding-top: 10px; */
    margin-top: 41px;
    /* margin-left: 20px; */
    margin-left: 20px;
}

.chatbox-des-left {
    text-align: justify;
    padding-top: 2vh;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: var(--dark-gray);
    padding-left: 12px;
    padding-right: 12px;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 110px;
    position: relative;
    opacity: 1;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 250px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 20px;
}

.chatbox-fig-right {
    text-align: center;
    margin-top: 20px;
    margin-top: 20px;
    background-color: rgb(255 255 255 / 0%);
    border-radius: 50px;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    margin-left: 400px;
    margin-right: 20px;
    /* width: 90vh; */
    /* height: 500%; */
    /* max-width: 2000px; */
    position: relative;
}

.chatbox-fig-right img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    width: 80%;
    height: auto;
}

/*loading*/
#loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50;
    left: 2000;
    background-color: #7b5b8a;
    z-index: 100000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

/*#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 400%;
    height: 400%;
    background-color: #7b5b8a;
    z-index: 9999;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading img {
    max-width: 400%;
    max-height: 400%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
*/



/*body content*/

body {
    overflow-y: scroll;
}

#content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

/*navbar*/
@import url("https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,600,700,800,900&display=swap");


/*
$bg-01: #364e68;
$bg-02: #446d8c;
$bg-03: #5788a0;
$bg-04: #73a5b5;
*/

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--bs-primary);
}

a:hover {
    text-decoration: underline;
}

nav .menubar {
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 50px 20px rgba(4, 4, 4, 0.686);
    /* Logo */
    /* Icons */
}

@media screen and (max-width: 767px) {
    nav .menubar {
        height: 60px;
        padding: 0 20px;
    }
}

#menu-container {
    display:flex;
}

nav .menubar .home {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    transition: all 0.4s ease;
}

nav .menubar .home:hover {
    opacity: 0.5;
}

nav .menubar .icons {
    display: flex;
    /* Icon Menu Hamburguer */
    /* Secondary Icons */
}

nav .menubar .icons .icon-menu {
    display: flex;
    width: 30px;
    height: 30px;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    /* Icon Close */
}

nav .menubar .icons .icon-menu span {
    background-color: #000000;
    width: 30px;
    height: 3px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    transition: all 0.2s ease;
    right: 0;
    border-radius: 5px;
}

nav .menubar .icons .icon-menu span:before,
nav .menubar .icons .icon-menu span:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 5px;
}

nav .menubar .icons .icon-menu span:before {
    transform: translateY(-10px);
    transition: all 0.3s 0.1s ease;
}

nav .menubar .icons .icon-menu span:after {
    transform: translateY(10px);
    transition: all 0.3s 0.2s ease;
}

nav .menubar .icons .icon-menu:hover span {
    width: 30px;
}

nav .menubar .icons .icon-menu:hover span:before {
    width: 25px;
}

nav .menubar .icons .icon-menu:hover span:after {
    width: 20px;
}

nav .menubar .icons .icon-menu.icon-closed {
    justify-content: center;
}

nav .menubar .icons .icon-menu.icon-closed span {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    width: 0px;
    right: initial;
    opacity: 0.5;
    transition: all 0.6s ease;
}

nav .menubar .icons .icon-menu.icon-closed span:before,
nav .menubar .icons .icon-menu.icon-closed span:after {
    width: 30px;
    background-color: #0000009c;
}

nav .menubar .icons .icon-menu.icon-closed span:before {
    transform: rotate(45deg);
}

nav .menubar .icons .icon-menu.icon-closed span:after {
    transform: rotate(-45deg);
}

nav .menubar .icons .icon-menu.icon-closed:hover span {
    width: 0;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    nav .menubar .icons .icon-menu.icon-closed:hover span:before {
        transform: rotate(45deg);
    }

    nav .menubar .icons .icon-menu.icon-closed:hover span:after {
        transform: rotate(-45deg);
    }
}

/*nav .menubar .icons .secondary-icons {
    display: flex;
    flex-wrap: wrap;
}

nav .menubar .icons .secondary-icons .icon-second {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px;
}

@media screen and (max-width: 767px) {
    nav .menubar .icons .secondary-icons .icon-second {
        margin: 0 5px;
    }
}

nav .menubar .icons .secondary-icons .icon-second:last-child {
    margin-right: 30px;
}

@media screen and (max-width: 767px) {
    nav .menubar .icons .secondary-icons .icon-second:last-child {
        margin-right: 15px;
    }
}

nav .menubar .icons .secondary-icons .icon-second:hover {
    transform: translateY(-5px);
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    nav .menubar .icons .secondary-icons .icon-second:hover {
        transform: translateY(0px);
        opacity: 1;
    }
}*/

nav .menu {
    display: none;
    /* Open Menu */
    /* Animation - Close */
}

nav .menu.open {
    display: flex;

    overflow: hidden;
    padding-bottom: 200px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    /* 半透明黑色背景 */
    backdrop-filter: blur(0px);
    /* 模糊效果 */
    animation: colorAndBlur 2s ease-in-out forwards;

    /* Menu Open - Main Link */
}

@keyframes colorAndBlur {
    0% {
        background-color: rgba(0, 0, 0, 0);
        /* 初始颜色 */
        backdrop-filter: blur(0);
        /* 初始模糊值 */
    }

    30% {
        background-color: rgba(0, 0, 0, 0.114);
        /* 中间颜色（黑色） */
        backdrop-filter: blur(0.7px);
        /* 中间模糊值 */
    }

    60% {
        background-color: rgba(0, 0, 0, 0.179);
        /* 中间颜色（黑色） */
        backdrop-filter: blur(1.7px);
        /* 中间模糊值 */
    }

    100% {
        background-color: rgba(0, 0, 0, 0.236);
        /* 最终颜色（黑色） */
        backdrop-filter: blur(2.5px);
        /* 最终模糊值 */
    }
}

nav .menu.open .menu-link {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    animation: menu 0.6s ease forwards;
    height: 100vh;
    position: relative;
    overflow: hidden;
    box-shadow: -8px 9px 10px 2px rgba(0, 0, 0, 0.501);
    /* Main Link - text */
    /* Sub Menu */
    /* Menu Links - Hover */
}

@keyframes menu {
    0% {
        height: 0;
        transform: translatey(-50%);
    }

    100% {
        height: 70vh;
        transform: translatey(0%);
    }
}

.open {
    padding-top: 60px;
}

nav .menu.open .menu-link:nth-child(1) {
    background-color: #ff0000;
    animation-duration: 0.6s;

}

nav .menu.open .menu-link:nth-child(1):hover {
    background-image: url('https://static.igem.wiki/teams/4636/wiki/banner/home.jpg');
    animation-duration: 0.6s;
    width: 200%;
    transition: all 0.4s ease-in-out;

}

/*
nav .menu.open .menu-link:nth-child(1):hover {
    width: 200%;
    transition: all 0.4s ease-in-out;
    animation: color01 0.4s ease-in-out forwards;
    height: 70vh;

}

@keyframes color01 {
    0% {
        background-color: #ff0000;
    }

    10% {
        background-color: #c20303;
    }

    20% {
        background-color: #8b0202;
    }

    30% {
        background-color: #550101;
    }

    40% {
        background-color: #000000;
    }

    50% {
        background-color: #000000;
    }

    60% {
        background-image: url('Collaborations.jpg');
        filter: brightness(0);
        backdrop-filter: blur(0px); 

    }

    70% {
        background-image: url('Collaborations.jpg');
        filter: brightness(0.25);
        backdrop-filter: blur(0.5px); 
    }

    80% {
        background-image: url('Collaborations.jpg');
        filter: brightness(0.5);
        backdrop-filter: blur(1px); 
    }

    90% {
        background-image: url('Collaborations.jpg');
        filter: brightness(0.75);
        backdrop-filter: blur(1.5px); 
    }

    100% {
        background-image: url('Collaborations.jpg');
        filter: brightness(1);
        backdrop-filter: blur(2px); 
    }
}
*/
nav .menu.open .menu-link:nth-child(2) {
    background-color: #ffb700;
    animation-duration: 0.8s;
}

nav .menu.open .menu-link:nth-child(2):hover {
    background-image: url('https://static.igem.wiki/teams/4636/wiki/banner/team.jpg');
    animation-duration: 0.8s;
    width: 200%;
    transition: all 0.4s ease-in-out;
}

nav .menu.open .menu-link:nth-child(3) {
    background-color: #00ff2f;
    animation-duration: 1s;
}

nav .menu.open .menu-link:nth-child(3):hover {
    background-image: url('https://static.igem.wiki/teams/4636/wiki/banner/project.jpg');
    animation-duration: 1s;
    width: 200%;
    transition: all 0.4s ease-in-out;
}

nav .menu.open .menu-link:nth-child(4) {
    background-color: #00f2ff;
    animation-duration: 1.2s;
}

nav .menu.open .menu-link:nth-child(4):hover {
    background-image: url('https://static.igem.wiki/teams/4636/wiki/model.jpg');
    animation-duration: 1.2s;
    width: 200%;
    transition: all 0.4s ease-in-out;
}

nav .menu.open .menu-link:nth-child(5) {
    background-color: #001aff;
    animation-duration: 1.4s;
}

nav .menu.open .menu-link:nth-child(5):hover {
    background-image: url('https://static.igem.wiki/teams/4636/wiki/banner/human-practice.jpg');
    animation-duration: 1.4s;
    width: 200%;
    transition: all 0.4s ease-in-out;
}

nav .menu.open .menu-link:nth-child(6) {
    background-color: #bb00ff;
    animation-duration: 1.6s;
}

nav .menu.open .menu-link:nth-child(6):hover {
    background-image: url('https://static.igem.wiki/teams/4636/wiki/banner/safety.jpg');
    animation-duration: 1.6s;
    width: 200%;
    transition: all 0.4s ease-in-out;
}

nav .menu.open .menu-link:nth-child(7) {
    background-color: #ff00b7;
    animation-duration: 1.8s;
}

nav .menu.open .menu-link:nth-child(7):hover {
    background-image: url('https://static.igem.wiki/teams/4636/wiki/education.jpg');
    animation-duration: 1.8s;
    width: 200%;
    transition: all 0.4s ease-in-out;
}

nav .menu.open .menu-link:nth-child(8) {
    background-color: #ff0044;
    animation-duration: 2s;
}

nav .menu.open .menu-link:nth-child(8):hover {
    background-image: url('https://static.igem.wiki/teams/4636/wiki/experiments.jpg');
    animation-duration: 2s;
    width: 200%;
    transition: all 0.4s ease-in-out;
}


nav .menu.open .menu-link .text-item {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
    opacity: 1;
    width: 100%;
    height: 20%;
    letter-spacing: 5px;
    transform: rotate(-90deg) translateX(0px);
    transition: all 0.4s 0.2s ease-in-out, letter-spacing 1s ease-in, opacity 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform-origin: center;
    animation: text-in 0.8s ease;
    position: absolute;
    color: white;
}

.text-subitem {
    color: white;
}

@media screen and (max-width: 767px) {
    nav .menu.open .menu-link .text-item {
        transform: rotate(0deg);
        font-size: 30px;
    }
}

@keyframes text-in {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.6;
    }
}

nav .menu.open .menu-link .text-item .icon {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    opacity: 0;
    transform: translateY(0px);
    transition: all 0.4s ease-in-out;
    background-image: url("https://rafaelavlucas.github.io/assets/icons/white/icon-54.svg");
}

@media screen and (max-width: 767px) {
    nav .menu.open .menu-link .text-item .icon {
        opacity: 0.5;
        transform: translateY(40px);
    }
}

nav .menu.open .menu-link .submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    box-sizing: border-box;
    opacity: 0;
    z-index: -1;
    transition: all 0.6s ease-in-out;
    height: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.351);
    bottom: 0;
    transform: translateY(50%);
    position: absolute;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    nav .menu.open .menu-link .submenu {
        padding: 0 5%;
    }
}

nav .menu.open .menu-link .submenu .sub-item {
    display: none;
    margin: 10px 0;
    color: white;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    width: fit-content;
    cursor: pointer;
    padding: 5px 15px;
}

@media screen and (max-width: 767px) {
    nav .menu.open .menu-link .submenu .sub-item {
        font-size: 16px;
    }
}

nav .menu.open .menu-link .submenu .sub-item:after {
    content: "";
    height: 0%;
    width: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transition: height 0.4s 0.3s ease, width 0.4s ease;
}

nav .menu.open .menu-link .submenu .sub-item:hover:after {
    width: 100%;
    height: 100%;
    transition: height 0.4s ease, width 0.4s 0.3s ease;
}

/*nav .menu.open .menu-link:hover {
    width: 200%;
    transition: all 0.4s ease-in-out;
    When Click to Open Sub Menu 
}*/

nav .menu.open .menu-link:hover .text-item {
    height: 100%;
    transform: rotate(0deg) translateX(0px);
    font-size: 50px;
    opacity: 1;
    letter-spacing: 20px;
    color: #ffffff;
    backdrop-filter: blur(4px);
    white-space: nowrap;

}

nav .menu.open .menu-link:nth-child(5):hover .text-item {
    height: 100%;
    transform: rotate(0deg) translateX(0px);
    font-size: 40px;
    opacity: 1;
    letter-spacing: 20px;
    color: #ffffff;
    backdrop-filter: blur(4px);
    white-space: nowrap;

}


nav .menu.open .menu-link:hover .text-item .icon {
    opacity: 1;
    transform: translateY(40px);
    transition: all 0.3s 0.4s ease-in-out;
}

@media screen and (max-width: 767px) {
    nav .menu.open .menu-link:hover .text-item {
        width: 100%;
        font-size: 30px;
        opacity: 0.3;
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 767px) {
    nav .menu.open .menu-link:hover.active {
        height: 80vh;
    }
}

nav .menu.open .menu-link:hover.active .text-item {
    transform: rotate(0deg) translateX(0px) translateY(-25%);
    transform-origin: center center;
    transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 767px) {
    nav .menu.open .menu-link:hover.active .text-item {
        height: 20%;
        transform: translateY(-180%);
    }
}

nav .menu.open .menu-link:hover.active .text-item .icon {
    transition: all 0.3s ease-in-out;
    transform: translateY(40px) rotate(-180deg);
}

nav .menu.open .menu-link:hover.active .submenu {
    transform: translateY(0);
    height: 60%;
    z-index: 1;
    opacity: 1;
    bottom: 0;
    backdrop-filter: blur(4px);
}

nav .menu.open .menu-link:hover.active .submenu .submenu-right {

    position: relative;
    margin-left: 250px;
    margin-top: -212px;
}



@media screen and (max-width: 767px) {
    nav .menu.open .menu-link:hover.active .submenu {
        height: 70%;
    }
}

nav .menu.open .menu-link:hover.active .submenu .sub-item {
    display: flex;
    animation: submenu 1s ease forwards;
    z-index: 2;
    justify-content: center;
    text-align: center;
}

@keyframes submenu {
    0% {
        transform: translatex(50px) rotate(5-deg);
        opacity: 0;
    }

    50% {
        transform: translatex(50px) rotate(-5deg);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translatex(0px) rotate(0deg);
    }
}

nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(1) {
    animation-duration: 1s;
}

nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(2) {
    animation-duration: 1.1s;
}

nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(3) {
    animation-duration: 1.2s;
}

nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(4) {
    animation-duration: 1.3s;
}

nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(5) {
    animation-duration: 1.4s;
}

nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(6) {
    animation-duration: 1.5s;
}

nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(7) {
    animation-duration: 1.6s;
}

nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(8) {
    animation-duration: 1.7s;
}

@media screen and (max-width: 767px) {
    nav .menu.open .menu-link {
        width: 100%;
        height: 25%;
        animation: menu-mobile 0.6s ease forwards;
        transform: translatey(0%);
        right: 0;
    }

    @keyframes menu-mobile {
        0% {
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    nav .menu.open .menu-link:hover {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    nav .menu.open {
        height: 100vh;
        flex-direction: column;
    }
}

nav .menu.close .menu-link {
    animation: menu-close 1s ease forwards;

}

@keyframes menu-close {
    0% {
        height: 70vh;
    }

    100% {
        height: 0;
    }
}

nav .menu.close .menu-link .text-item {
    animation: text-out 0.6s ease forwards;
}

@keyframes text-out {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.homeicon {
    width: 30%;

    position: relative;
    top: 210px;
    animation: text-in 0.8s ease-in-out;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform-origin: center;
    transition: all 0.4s 0.2s ease-in-out
}

nav .menu.open .menu-link:hover .homeicon {
    width: 0px;
    transform: rotate(540deg);

}

/*banner-container*/
.cont {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.slider {
    position: relative;
    height: 100%;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    cursor: all-scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider.animation {
    transition: transform 750ms ease-in-out;
}

.slider.animation .slide__darkbg {
    transition: transform 750ms ease-in-out;
}

.slider.animation .slide__text {
    transition: transform 750ms ease-in-out;
}

.slider.animation .slide__letter {
    transition: transform 750ms ease-in-out;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide--1 {
    left: 0%;
}

.slide--2 {
    left: 100%;
}

.slide--3 {
    left: 200%;
}

.slide--4 {
    left: 300%;
}

.slide--5 {
    left: 400%;
}

.slide__darkbg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    z-index: 10;
}

.slide__text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.slide__letter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    font-size: 50vw;
    font-weight: 800;
    color: #000;
    z-index: 2;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slide__text {
    font-size: 8vw;
    font-weight: 800;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    letter-spacing: 12px;
    color: #fff;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slide__text:nth-child(odd) {
    z-index: 2;
}

.slide__text:nth-child(even) {
    z-index: 1;
}

.slide--1__darkbg {
    left: 0%;
    background: url("https://static.igem.wiki/teams/4636/wiki/header001.jpg") center center no-repeat;
    background-size: cover;
    background-position: 0px center, 0px center;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

.slide--1__darkbg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.slide--1__letter {
    background: url("https://static.igem.wiki/teams/4636/wiki/header001.jpg") center center no-repeat;
    background-position: 0px center, 0px center;
    background-size: cover;
}

.slide--2__darkbg {
    left: -50%;
    background: url("header005.jpg") center center no-repeat;
    background-size: cover;
    background-position: 0px center, 0px center;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

.slide--2__darkbg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.slide--2__letter {
    background: url("header005.jpg") center center no-repeat;
    background-position: 0px center, 0px center;
    background-size: cover;
}

.slide--3__darkbg {
    left: -100%;
    background: url("header004.jpg") center center no-repeat;
    background-size: cover;
    background-position: 0px center, 0px center;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

.slide--3__darkbg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.slide--3__letter {
    background: url("header004.jpg") center center no-repeat;
    background-position: 0px center, 0px center;
    background-size: cover;
}

.slide--4__darkbg {
    left: -150%;
    background: url("header003.jpg") center center no-repeat;
    background-size: cover;
    background-position: 0px center, 0px center;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

.slide--4__darkbg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.slide--4__letter {
    background: url("header003.jpg") center center no-repeat;
    background-position: 0px center, 0px center;
    background-size: cover;
}

.slide--5__darkbg {
    left: -200%;
    background: url("header002.jpg") center center no-repeat;
    background-size: cover;
    background-position: 0px center, 0px center;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

.slide--5__darkbg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.slide--5__letter {
    background: url("header002.jpg") center center no-repeat;
    background-position: 0px center, 0px center;
    background-size: cover;
}

.nav {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    z-index: 10;
}

.nav__slide {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .nav__slide {
        width: 22px;
        height: 22px;
    }
}

.nav__slide:hover:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
}

.nav__slide:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: 300ms;
}

.nav__slide--1 {
    margin-left: 0;
}

.nav-active:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
}

.side-nav {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
}

.side-nav:hover {
    opacity: 0.1;
}

.side-nav--right {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eed7ff 100%);
}

.side-nav--left {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #eed7ff 100%);
}

/*html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;

}*/


/*banner-container-typingword*/

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #ffffff00;
    margin-top: -250px;
    color: aliceblue;
    /* font-style: unset; */
    font-size: xx-large;
    font-weight: 800;
    letter-spacing: 8px;
    font-size: 140px;
    font-family: inherit;
}

#feature text {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;

}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.679);
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*banner-container-downbutton*/
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1);
    margin-bottom: 20px;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 9.5px);
    transform: rotate(-45deg);
    display: block;
    width: 18px;
    height: 18px;
    content: "";
    border: 3px solid white;
    border-width: 0px 0 3px 3px;
}

.scroll-down:hover {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 50px;
    height: 50px;
    background-size: 14px auto;
    background-color: #FFFFFF5D;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

/*content*/

#map {
    width: 100%;
    height: 600px;
    border: 5px solid rgba(255, 255, 255, 0);
    opacity: 0.9;
}

.content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 40px;
}

@media only screen and (max-width: 600px) {
    .main-left {
        display: none;
        width: 0%;
    }

    .main-right {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .main-left {
        display: block;

        width: 25%;
    }

    .main-right {
        width: 75%;
        margin-left: 5%;
        margin-right: 15%;
    }
}

.main-left {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.sidebar {
    position: absolute;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 0vw;
    width: 80%;
    background-color: var(--transparent-gray);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: sticky;
    top: 15vh;
    border-radius: 10px;
    margin: 20px;
    margin-left: 40px;
}

.sidebar ul {
    list-style-type: none;
    position: relative;
    text-align: center;
}

.sidebar ul li {
    padding: 10px;
}


/*nav .menu.open .menu-link .submenu .sub-item {
    display: none;
    margin: 10px 0;
    color: white;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    width: fit-content;
    cursor: pointer;
    padding: 5px 15px;
}

nav .menu.open .menu-link .submenu .sub-item:after {
    content: "";
    height: 0%;
    width: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.4s 0.3s ease, width 0.4s ease;
}

nav .menu.open .menu-link .submenu .sub-item:hover:after {
    width: 100%;
    height: 100%;
    transition: height 0.4s ease, width 0.4s 0.3s ease;
}*/
.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;

    width: fit-content;

    position: relative;
}

.sidebar ul li a::after {
    content: "";
    height: 0%;
    width: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.4s 0.3s ease, width 0.4s ease;
}

.sidebar ul li a:hover::after {
    width: 100%;
    height: 100%;
    transition: height 0.4s ease, width 0.4s 0.3s ease;
}

.main {
    background-color: var(--light-purple);
    padding-left: 12vw;
    padding-right: 12vw;
    z-index: 20;
    padding-bottom: 50px;
}

.main-right {
    margin-left: 4vw;
    margin-right: 4vw;

    z-index: 20;
    padding-bottom: 50px;
}

.headingbox {
    background-color: var(--dark-purple);
    border-radius: 10%;
    position: relative;
    height: 15px;
    padding-top: 8vh;
    max-width: 100%;
    top: 20px;
    /* text-align: center; */
    /* justify-content: center; */
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    display: block;
}

.expandbutton {
    position: relative;
    /* width: 10%; */
    /* display: block; */
    /* border-radius: 80%; */
    border-width: 2px;
    margin-top: -55px;
    margin-left: 970px;
    /* -webkit-transition: all .2s ease-in; */
    /* transition: all .2s ease-in; */
    transform: scale(1);
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    opacity: 1;
    -webkit-transition: all .5s ease-in .1s;
    transition: all .5s ease-in .1s;
    background-color: #00000000;
    float: right;
    margin-right: 10px;
}

.expandbutton::before {
    top: calc(50% - 19px);
    left: calc(50% - 9px);
    transform: rotate(-225deg);
    display: block;
    width: 18px;
    height: 18px;
    content: "";
    border: 3px solid white;
    border-width: 0px 0 3px 3px;
    position: relative;
}

.expandbutton:hover {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1);
    display: block;
    width: 50px;
    height: 50px;
    /* border: 3px solid var(--dark-gray); */
    background-size: 14px auto;
    background-color: #FFFFFF5D;
    border-radius: 50%;
    z-index: 2;
    opacity: 1;
    -webkit-transition: all .5s ease-in .1s;
    transition: all .5s ease-in .1s;

}

.sideexpandbutton {
    position: relative;
    /* width: 10%; */
    /* display: block; */
    /* border-radius: 80%; */
    border-width: 2px;
    margin-top: -48px;
    /* margin-left: 580px; */
    /* -webkit-transition: all .2s ease-in; */
    /* transition: all .2s ease-in; */
    transform: scale(1);
    display: block;
    width: 50px;
    height: 50px;
    border: 0px solid #ffffff00;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    opacity: 1;
    -webkit-transition: all .5s ease-in .1s;
    transition: all .5s ease-in .1s;
    background-color: #00000000;
    float: right;
    margin-right: 10px;

}

.sideexpandbutton:before {
    top: calc(50% - 25px);
    left: calc(50% - 5px);
    transform: rotate(-45deg);
    display: block;
    width: 9px;
    height: 9px;
    content: "";
    border: 0px solid white;
    border-width: 0px 0 3px 3px;
    position: relative;
}

.fontbold{
    color:#4df9f9;
}

.des-heading1 {
    font-weight: bold;
    position: relative;
    margin-top: -55px;
    margin-left: 15px;
    width: 100%;
    float: left;
    color: rgb(255, 255, 255, 0.8);;
}

/*.des-heading1:after {
    content: "";
    background: linear-gradient(0.25turn, #513681, #1b2461, #92c5f7bf);
    ;
    height: .7vh;
    bottom: -1.2vh;
    width: 100%;
    position: absolute;
    left: 0;
}
*/
.des-heading2 {
    font-weight: bold;
    padding-top: 2vh;
    font-size: 30px;
    position: relative;
    color: var(--dark-purple);
    margin-bottom:20px
}

.des-heading2-2 {
    font-weight: bold;
    padding-top: 2vh;
    font-size: 30px;
    position: relative;
    color: var(--dark-purple);
    margin-bottom: 20px
}

.des-heading2::before {
    content: "\2022";
    position: absolute;
    top: 57%;
    left: 0px;
    color: var(--dark-purple);
    font-size: 36px;
    display: inline-block;
    line-height: 1;
    transform: translateY(-50%);
}

.des-heading2::before {
    content: "\2022";
    position: absolute;
    top: 57%;
    left: 0px;
    color: var(--dark-purple);
    font-size: 36px;
    display: inline-block;
    line-height: 1;
    transform: translateY(-50%);
}

.des-heading2-1 {
    font-weight: bold;
    padding-top: 2vh;
    font-size: 30px;
    position: relative;
}

.des-heading2-1::before {
    content: "\2022";
    position: absolute;
    top: 57%;
    left: 0px;
    color: #92c5f7;
    font-size: 36px;
    display: inline-block;
    line-height: 1;
    transform: translateY(-50%);
}

#des-paragraph-item::before {
    content: "\2022";
    position: relative;
    top: 12px;
    left: 0px;
    color: rgb(255, 255, 255, 0.8);
    font-size: 20px;
    display: inline-block;
    line-height: 1;
    transform: translateY(-50%);
}

.des-paragraph-item {
    text-align: justify;
    padding-top: 2vh;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-left: 35px;
    color: var(--dark-gray);
}

#home-container {
    width: 90%;
    border-radius: 20px;
    background-color: var(--gray);
    margin-left: 10px;
}

#home-icon {
    width: 30%;
    height: 30%;
    margin:0, auto;
    padding: 10px;
    padding-top: 30px;
    margin-left: -20%;
}

#home-description {
    color: white;
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

#home-heading {
    color: white;
    font-size: 16px;
    font-weight:bold;
    padding: 20px;
    padding-bottom: 0px;
    text-align: left;
}

.des-heading3 {
    font-weight:bold;
    padding-top:2vh;
    font-size: 20px;
    position: relative;
    /* margin: 20px; */
    color: var(--dark-gray);
    position: relative;
    opacity: 1;
    left: 0px;
    /* text-align: justify; */
    /* padding-top: 3vh; */
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.des-paragraph {
    text-align: justify;
    padding-top: 2vh;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: var(--dark-gray);
    padding-left: 12px;
    padding-right: 12px;
}

.des-note {
    font-weight:bold;
    text-align: justify;
    padding-top: 2vh;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: var(--dark-gray);
    text-align: left;
}

.des-ref-heading {
    font-weight:bold;
    padding-top:2vh;
    font-size: 20px;
    position: relative;
    /* margin: 20px; */
    color: var(--dark-gray);
    position: relative;
    opacity: 1;
    left: 0px;
    /* text-align: justify; */
    padding-top: 3vh;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.des-ref-paragraph {
    text-align: left;
    padding-top: 1vh;
    margin-bottom: 0;
    color: var(--dark-gray);
    padding-left: 12px;
    padding-right: 12px;
}

.des-figure {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: var(--gray);
    font-style: italic;
}

.containerfig {
    text-align: center;
    margin-top: 20px;
}

.containerfig img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    width: 80%;
    height: auto;
}

.des-paragraph-fig {
    text-align: center;
}

.des-paragraph-fig {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-container {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 30px 10px rgba(0, 0, 0, 0.459);
}

/*.banner-word {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 5%;
    right: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-header {
    padding-top: 0%;
    font-size: 8vw;
    color: white;
    z-index: 100;
    font-family: 'Montserrat';
    font-weight: 700;
}

.banner-para {
    font-size: 2vw;
    color: white;
    z-index: 100;
    font-family: 'Montserrat'
}

.banner-collaborations {
    height: 100vh;
    background-image: url(Software.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}*/

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#progress-container {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 4px;
    left: 0;
}

#progress-bar {
    position: fixed;
    top: 0;
    height: 4px;
    background: #f39a46;
    width: 0%;
    z-index: 9999;

}

#body-nav {
    transition: top 0.2s ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

#body-nav.hide {
    top: -80px;

}

.navbar-brand {
    font-weight: bold;
    font-family: cursive;
}

.navbar {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.sidebaritem {
    scroll-padding-top: 500px;
}

.sidebaritem_item {
    padding-top: 10px;
}

.sidebaritem_item-container {
    display:none;
    background-color:rgba(0, 0, 0, 0.242);
}

#June::after {
    content: "";
    height: 0%;
    width: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.4s 0.3s ease, width 0.4s ease;
}

#June:hover::after {
    width: 110%;
    height: 100%;
    transition: height 0.4s ease, width 0.4s 0.3s ease;
}

#August::after {
    content: "";
    height: 0%;
    width: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.4s 0.3s ease, width 0.4s ease;
}

#August:hover::after {
    width: 120%;
    height: 100%;
    transition: height 0.4s ease, width 0.4s 0.3s ease;
}

#September::after {
    content: "";
    height: 0%;
    width: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.4s 0.3s ease, width 0.4s ease;
}

#September:hover::after {
    width: 115%;
    height: 100%;
    transition: height 0.4s ease, width 0.4s 0.3s ease;
}

#Establishment::after {
    content: "";
    height: 0%;
    width: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.4s 0.3s ease, width 0.4s ease;
}

#Establishment:hover::after {
    width: 110%;
    height: 100%;
    transition: height 0.4s ease, width 0.4s 0.3s ease;
}

#College::after {
    content: "";
    height: 0%;
    width: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.4s 0.3s ease, width 0.4s ease;
}

  #College:hover::after {
    width: 134%;
    height: 100%;
    transition: height 0.4s ease, width 0.4s 0.3s ease;
  }

p {
    margin-bottom: 32px;
    line-height: 1.8;
}

/*
a.moving-underline {
    font-family: 'Comfortaa', cursive !important;
    background-image: linear-gradient(45deg, #815bc265, #815bc265);
    background-position: center bottom;
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition: 0.4s ease;
    font-weight: bolder;
}

a.moving-underline:hover {
    text-decoration: none;
    color: #815bc2 !important;

    background-size: 90% 1.5px;
}

a.moving-underline-item {
    font-family: 'Comfortaa', cursive !important;
    background-image: linear-gradient(45deg, #815bc265, #815bc265);
    background-position: center bottom;
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition: 0.4s ease;
    font-weight: bolder;
    color: #333333a2;
}

a.moving-underline-item:hover {
    text-decoration: none;
    color: #815bc2 !important;

    background-size: 80% 1.5px;
}

.nav-font-edit {
    font-size: 13pt;
}*/

/*myfooter*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 80px;
}

footer .navbar-toggler {
    background-color: #333;
    border-color: #ffffff3d;
}

.navbar {
    box-shadow: 0 0 0;
    border-bottom: 2px solid #ffffff1a;
}

.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler-icon img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

a.email {
    text-align: left;
    color: #ffffff52;
}

.navbar-nav a {
    text-align: center;
}

.navbar-brand {
    font-weight: bold;
    font-family: cursive;
}


footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.sponsor {
    width: 100%;
    margin: 2% auto;
    padding: 0;
}

.sponsor img {
    margin: 0px;
    height: 60PX;
    align-items: center;
    margin-right: 0px;
    filter: brightness(100%);
}

.sponsor li {
    display: inline-block;
    align-items: center;
    margin-right: 30px;
}

/*scroll-to-top-btn*/

#scroll-to-top-btn {
    position: relative;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

#scroll-to-top-btn.show {
    opacity: 1;
}

.icon-position {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-style {
    background: url(https://static.igem.wiki/teams/4118/wiki/website-assets/arrow-white.png) 50% no-repeat;
    background-color: var(--gray);
    border: 2px solid #fff;
    border-radius: 50%;
    height: 3.4rem;
    width: 3.4rem;
    color: #fff;
    cursor: pointer;
    animation: wobble 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
}

.icon-style:hover {
    animation: none;
    background: url(https://static.igem.wiki/teams/4118/wiki/website-assets/arrow-white.png) 50% no-repeat;
    background-color: var(--light-purple);
    color: var(--light-purple);
    border: 2px solid var(--light-purple);
}

@keyframes wobble {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(5%);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0px);
    }
}

.nav_button {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: var(--dark-purple);
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    font-family: inherit;
    font-weight: bold;
    margin: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: inline-block;
    margin-left: 32%;
    /* margin-right: 30%; */
    width: 33%;
    font-size: larger;
}

.nav_button:hover {
    background: var(--light-purple);
    color: var(--dark-purple);
    box-shadow: 0 0 5px var(--light-purple),
        0 0 25px var(--light-purple),
        0 0 50px var(--light-purple),
        0 0 200px var(--light-purple);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.nav_button:nth-child(1) {
    filter: hue-rotate(270deg);
}

/*
.button:nth-child(2) {
filter: hue-rotate(110deg);
}*/

.nav_button span {
    position: absolute;
    display: block;
}

.nav_button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--light-purple));
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.nav_button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--light-purple));
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.nav_button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--light-purple));
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}


.nav_button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--light-purple));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}